@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(90deg, rgb(255, 255, 0), rgb(255, 186, 84));
}
.container {
  background-color: rgba(192, 192, 192, 0.397);
  padding: 1.5rem;
  max-width: 100%;
  width: 800px;
  text-align: center;
  border-radius: 0.6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.534);
}
.container h3 {
  color: rgba(0, 0, 0, 0.575);
}
.fact {
  font-size: 2rem;
  padding: 0.5rem;
  margin: 1rem;
  color: rgba(46, 46, 46, 0.92);
}
.btn {
  font-family: inherit;
  padding: 0.5rem 0.8rem;
  background-color: rgb(255, 182, 45);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.822);
  font-size: 1rem;
  font-weight: bold;
  color: rgba(41, 41, 41, 0.822);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.541);
}
.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: none;
}
